<h1> Tap Out </h1>
<h2> Log in Below</h2>

<form action="/login" method="POST">
  Username: <input name="user[username]" type="text" /><br/>
  Password:   <input name="user[password]" type="password" /><br/>
  <p><input type="submit" value="Login"/></p>
</form>
