<h2> Welcome to Tap Out!</h2>
<h3> Sometimes it is just better to throw in the towel...</h3>
<h3><p> and fight another day</p></h3>
<p> Please login or signup below:</p>

<nav>
  <p><a href ="/login"><h3>Login</h3></a></p>

  <p><a href ="/signup"><h3>Sign Up</h3></a></p>

</nav>
