<h1> Tap Out </h1>
<h2>Sign up Below</h2>

<form action="/signup" method="POST">
  Username: <input name="user[username]" type="text" /><br/>
  Password:   <input name="user[password]" type="password" /><br/>
  <p><input type="submit" /></p>
</form>
